
.paragraph
{  
    min-width: 280px;
    max-width: 500px;
    width: auto;
    height:fit-content;
    margin: auto;
    margin-top: 5%;   
    border: solid;
    border-radius: 10px;
    border-width: 3px;
    border-color: white;
    text-align: left;
    font-family: url("Fonts/Poppins/Poppins-Medium.ttf");
    font-size:125%;
    color: white;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}
