
.body
{
    background-color: black;
    width: 100%;
     
     
}
.title
{   
    
     
    margin-top: 1%;
    background-color: whitesmoke;
    color: white;
    width: 70%;
    height: 5%;
    padding-bottom: 1%;
    font-family: url("Fonts/Poppins/Poppins-Medium.ttf");
 
    padding-bottom: 1%;
    border-radius: 10px;
    margin: auto;
}
.GridLayoutBox 
{    
    
    margin-top: -4%;
    padding-top: 1%;
    display: grid;
    margin:auto;
    
    grid-template-columns: 49% 49%;
    grid-template-rows: 33% ;
}
.homeBtn
{   
    margin: auto;  
 
    min-width: auto;
    min-height: auto;
    height: fit-content;
    width: 100%;
    font-size: 60%;
    border-radius: 10px; 
    background-color: black;
    margin-left: 1%;
    color: whitesmoke;
    font-family: url("Fonts/Poppins/Poppins-Medium.ttf");  
}
.location
{
    margin: auto;  
    background-color: transparent;
    border-color: transparent;
    min-width: auto;
    min-height: 100%;
    height: fit-content;
    width: 100%;
    font-size: 60%;
    border-radius: 10px; 
    font-size: 75%;
    border-width: 0;
    border-radius: 10px; 
    color: black;
    font-family: url("Fonts/Poppins/Poppins-Medium.ttf");

 
    
}
 
.landingimage
{
    
    background-image: url("Graphic/BeadDrip.jpg");
    width:4032px;
    height:2032px;
    image-rendering: optimizeQuality;
    background-attachment: scroll;
    width: 70%;
    max-height:100%;
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 0;
    z-index: -1;
    
}

.container
{   
    padding-top: 5%;
    text-align: center;

    margin-top: 10%;
    margin: auto;
    width: 100%;
    height: 20%;
     
}

.j
{   
    
 
    margin-top: 5%;
    background-color: black;
    opacity: 100%;
    min-width: auto;
    min-height: auto;
   
    margin: auto;
    height: fit-content;
    width: fit-content;
    max-width: fit-content;
    max-width: fit-content;
    color: rgb(244, 244, 244);
    font-family: url("Fonts/Poppins/Poppins-Medium.ttf");
    font-size: 300%;
    border-radius: 10px; 
}
.menuA
{
    margin-top: 5%;
    background-color: black;
    opacity: 50%;
    min-width: auto;
    min-height: auto;
    width: 60%;
    margin: auto;
    height: fit-content;
    width: fit-content;
    color: whitesmoke;
    font-family: url("Fonts/Poppins/Poppins-Medium.ttf");
    font-size: 200%;
    border-radius: 10px; 
}
.menuB
{
    margin-top: 5%;
    background-color: black;
    opacity: 50%;
    min-width: auto;
    min-height: auto;
    width: 60%;
    margin: auto;
    height: fit-content;
    width: fit-content;
    color: whitesmoke;
    font-family: url("Fonts/Poppins/Poppins-Medium.ttf");
    font-size: 200%;
    border-radius: 10px; 
}
.menuC
{
    margin-top: 5%;
    background-color: black;
    opacity: 50%;
    min-width: auto;
    min-height: auto;
    width: 60%;
    margin: auto;
    height: fit-content;
    width: fit-content;
    color: whitesmoke;
    font-family: url("Fonts/Poppins/Poppins-Medium.ttf");
    font-size: 200%;
    border-radius: 10px; 
}
.menuD
{
    margin-top: 5%;
    background-color: black;
    opacity: 50%;
    min-width: auto;
    min-height: auto;
    width: 60%;
    margin: auto;
    height: fit-content;
    width: fit-content;
    color: whitesmoke;
    font-family: url("Fonts/Poppins/Poppins-Medium.ttf");
    font-size: 200%;
    border-radius: 10px; 
}

.line
{
    position:absolute;
    margin-top: 10%;
    background-color: whitesmoke;
    color: white;
    width: 75%;
    height: 1px;
    
    margin-left: 10%;
    margin-right: 10%;
}
.box {
    text-align: center;
    border: 1px solid gray;
    color: rgb(255, 255, 255);
    font-family: url("Fonts/Poppins/Poppins-Medium.ttf");
    text-shadow: black 0px 5px 5px;
    font-size: 100%;
    }
    
    
    
    .GridLayoutContainer 
    {
    margin-top: 10%;
    display: grid;
    grid-gap: 1.5%;
    grid-template-columns: 32% 32% 32%;
    grid-template-rows:300px 100px 100px;
    }
    .a {
     
    background-image: url("Graphic/Blurple.jpg");
    margin: auto;
    min-width: auto;
    min-height: auto;
     height: 80%;
     width: 90%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 10px; 
}
    .b
    { 
        background-image: url("Graphic/Wheels.jpg");
        margin: auto;
        min-width: auto;
        min-height: auto;
         height: 80%;
         width: 90%;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border-radius: 10px; 
    }
    .c
    {
         
        margin-left: 20%;
        background-image: url("Graphic/Restoredshine.jpg");
        margin: auto;
        min-width: auto;
        min-height: auto;
         height: 80%;
         width: 90%;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border-radius: 10px; 
    }
    .ao
    {   
        margin-top: -10%;
        padding-top: 90%;
     
        border-radius: 20px;
        border-width: 3px;
        border-color: white;
        background-color: transparent;
        height: 100%;
        width: 100%;
        font-size: 125%;
        min-width: fit-content;
        min-height: auto;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        z-index: 1;
    }
    .bo
    {
        margin-top: -10%;
        padding-top: 90%;
        
        border-radius: 20px;
        border-width: 3px;
        border-color: white;
        background-color: transparent;
        height: 100%;
        width: 100%;
        font-size: 125%;
        min-width: fit-content;
        min-height: auto;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        z-index: 1;
    }
    .co
    {
        margin-top: -10%;
        padding-top: 90%;
     
        border-radius: 20px;
        border-width: 3px;
        border-color: white;
        background-color: transparent;
        height: 100%;
        width: 100%;
        font-size: 125%;
        min-width: fit-content;
        min-height: auto;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        z-index: 1;
    }
 

.contactbox
{
    font-family: url("Fonts/Poppins/Poppins-Medium.ttf");
    
    border-radius: 10px;
    margin-top: 25%;
    margin-left: 25%;
    min-width: auto;
    min-height: auto;
    width: 50%;
    height: fit-content;
    background-color: white;
    max-height: 100%;
    max-width: 100%;
    padding-bottom: 15%;
}



    .text
{   min-width: auto;
    min-height: auto;
    max-width: 100%;
    max-height: 100%;
    font-size: 75%;
    width: 35%;
    margin-left: 5%;
    margin-right: 65%;
}
.fullname
{
    min-width: auto;
    min-height: auto;
    max-width: 75%;
    margin-left: 5%;
    margin-right:65%;
}
.mkmdlyear
{
    min-width: auto;
    min-height: auto;
    max-width: 75%;
    margin-left: 5%;
    margin-right:65%;
}
.dateos
{
    min-width: auto;
    min-height: auto;
    max-width: 75%;
    margin-left: 5%;
    margin-right:65%;
}
.phone
{
    min-width: auto;
    min-height: auto;
    max-width: 75%;
    margin-left: 5%;
    margin-right:65%;
}
.respond
{
    width: 20%;
    margin-left: 5%;
    margin-right: 65%;
    color: black;
}

.visitreason
{
    min-width: auto;
    min-height: auto;
    max-width: 75%;
    margin-left: 5%;
    margin-right:65%;

    resize: none;
    border-color: black;
    border-width: 3px;
    border-radius: 5px;


}
.tboxbanner
{
    font-size: 100%;
    margin-left: 5%;
    
}
.submit
{
    min-width: auto;
    min-height: auto;
    max-width: 90%;
    margin-left: 5%;
    margin-right:65%;
    color:aliceblue;
    margin-top: 1%;
    font-size: 200%;
    border-color:  rgb(36, 157, 218);
    background-color: rgb(36, 157, 218);
    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
}